@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #1A5F8C;
    text-align: center;
}
h1{
    text-align: center;
    color:#ddd ;
    font-weight: bolder;
}
header > p{
    text-align: center;
}
.container{
    margin:20px auto;
    padding:5px;
    font-size: 19px;
    letter-spacing: 3px;

}
#enter{
    width: 47%;
    display:block;
    padding:5px;
    letter-spacing: 2px;
    border-right: 2px solid #bfdcf0;
    border-bottom: 2px solid #bfdcf0;
    border-left: 2px solid #bfdcf0;
    border-top: 4px solid #0072c5;
    background-color: #f2f8fc;
    margin: 10px auto;
    text-align:right;
    font-size: 20px;
    cursor: pointer;
}
.bd{
    border: 1px solid #ddd;
    border-radius: 2px;
    border-width: 1px;
    transition: .1s;
    font-weight: bold;
}
.bd:active{
    transform:scale(0.8);
}
.buttons{
    width:45%;
    margin:0 auto;
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-column: span 6;
    grid-row: span 6;
    top:50%;
    grid-gap: 10px;
    border-radius: 5px;
    background-color: #1A5F8C;
    padding:10px 10px;
}
.bt1,.bt2{
    grid-column: span 3;
    height:50px;
}

.bt3,.bt4,.bt5{
    grid-column:span 2;
    height:30px;
}
.bt6{
    grid-column: 2/3;
    grid-row:span 2;
    width:70px;
}
.bt7{
    grid-column: 3/4;
    grid-row:span 2;
    width:70px;
}
.bt8{
    grid-column: 4/5;
    grid-row:span 2;
    width:70px;
}
.bt9{
    grid-column: 5/6;
    grid-row:span 2;
    width:70px;
}
.bt10,.bt11{
    grid-row:5/6;
    grid-column:span 3;
}
.bt12,.bt13,.bt14{
    grid-row:6/7;
    grid-column: span 2;
    height:30px;
}
.bt12{
    background-color: red;
}
.bt14{
    background-color: #0072c5;
}
#ins{
    display: inline;
    width:50%;
    font-size: 14px;
    margin-top: 20px;
}
#ins>h3{
    text-decoration: underline;
}
@media only screen and (max-width:765px){
    .buttons{
        display:block;
    }
    #ins{
        left:auto;
        margin: 10px auto;
    }
    #ins>h3 , p{
        text-align: center;
    }
}