@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #1A5F8C;
    text-align: center;
}
h1{
    text-align: center;
    color:#ddd ;
    font-weight: bolder;
}
header > p{
    text-align: center;
}
.container{
    margin:20px auto;
    padding:5px;
    font-size: 19px;
    width:55%;
    background:linear-gradient(to right,#2193b0 ,#6dd5ed,#bff098);
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.6);
}
#enter{
    width: 70%;
    display:block;
    padding:5px;
    letter-spacing: 2px;
    border-right: 2px solid #bfdcf0;
    border-bottom: 2px solid #bfdcf0;
    border-left: 2px solid #bfdcf0;
    border-top: 4px solid #0072c5;
    background-color: #f2f8fc;
    margin: 2px auto;
    text-align:right;
    font-size: 20px;
    cursor: pointer;
}
.buttons{
    width:65%;
    margin: 0 auto;
}
.bd{
    border: 1px solid #ddd;
    border-radius: 2px;
    border-width: 1px;
    transition: .1s;
    font-weight: bold;
}
.bd:active{
    transform:scale(0.8);
}
.bt1,.bt2,.bt4,.bt5,.bt7,.bt8,.bt10,.bt11{
    width:23%;
    height:30px;
}
.bt3,.bt6,.bt9,.bt12{
    width:42%;
    height:30px;
}
.bt13{
    background-color: red;
    width:44%;
    height:30px;
}
.bt14{
    background-color: #0072c5;
    width:46%;
    height:30px;
}
#ins{
    display: inline;
    width:50%;
    font-size: 14px;
    margin-top: 20px;
}
.row{
    margin-left: 10px;
}
#ins>h3{
    text-decoration: underline;
}
@media only screen and (max-width:765px){
    .bt3,.bt6,.bt9{
     overflow: hidden;   
    }
    #ins{
        left:auto;
        margin: 10px auto;
    }
    #ins>h3 , p{
        text-align: center;
    }
}
